#.\.venv\Scripts\Activate.ps1 
#Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy RemoteSigned
selenium
pytest
requests
allure-pytest
jsonschema
setuptools


#$env:x-api-key="reqres-free-v1"
#$env:BASE_URL="https://a404cb5b-fc3a-46d1-a8cc-6f72f08d71db.mock.pstmn.io"
#$env:PYTHONPATH="C:\Users\eksri\NMMProject\APIProject"  